
.w_blg{
  &-step{
    &_2{
      &__inscription{
        height: 17px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #031726;
        text-align: left;
      }
      &__subtitle{
        width: 270px;
        margin: 0 auto;
        height: 40px;
        left: 16px;
        top: 218px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #031726;
      }
      &__inputs-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 12px;
      }
      &__input{
        &-container{
          display: flex;
          flex-direction: column;
          height: 63px;
          position: relative;
          &:first-child {
            margin-bottom: 16px;
          }
          label{
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #031726;
            margin-bottom: 6px;
          }
          input{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            //padding: 5px 8px 5px 12px;
            padding: 10px 50px 10px 12px;
            height: 40px;
            border: 2px solid #DAEDFB;
            box-sizing: border-box;
            border-radius: 5px;
          }
          img{
            width: fit-content;
            position: absolute;
            right: 10px;
            top: 33px;
            cursor: pointer;
          }
        }

      }
      &_ltc{
        text-decoration: underline;
      }
      &_timer{
        color: #0F75BD;
      }
      &__qr_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 16px 0;
      }
    }
  }
}