.w_blg {
  &-step {
    &_3 {
      &__inscription {
        text-align: center !important;
        height: 20px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        color: #0F75BD !important;
        margin: 0 0 24px 0 !important;
      }
      &__img{
        &-container{
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
        }
      }
    }
  }
}
//w_blg-step_3__img-container
//w_blg-step_3__img-container
