
.w_blg {
  &-step {
    &_2 {
      &__inscription {
        height: 17px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 17px !important;
        color: #031726 !important;
        text-align: left !important;
        margin-top: 12px !important;
      }

      &__subtitle {
        //width: 270px !important;
        margin: 0 auto !important;
        left: 16px !important;
        top: 218px !important;
        font-style: normal !important;
        font-weight: 500 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        text-align: center !important;
        color: #031726 !important;
      }

      &__inputs-container {
        display: flex !important;
        flex-direction: column !important;
      }

      &__input {
        &-container {
          display: flex !important;
          flex-direction: column !important;
          height: 63px !important;
          position: relative !important;

          div {
            position: relative;
            margin-bottom: 6px !important;
            text-align: left !important;
          }

          &:first-child {
            margin-bottom: 16px;
          }

          label {
            font-weight: 500 !important;
            font-size: 14px !important;
            line-height: 17px !important;
            color: #031726 !important;
            text-align: left !important;
          }

          span {
            //position: absolute;
            background: #0F75BD;
            border-radius: 2px;
            color: white;
            padding: 2px 4px;
            margin-left: 3px;
            margin-top: -2px;
            text-align: center;
            font-weight: 500 !important;
            font-size: 13px !important;
          }

          input {
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center !important;
            //padding: 5px 8px 5px 12px !important;
            padding: 10px 35px 10px 12px !important;
            height: 40px !important;
            border: 2px solid #DAEDFB !important;
            box-sizing: border-box !important;
            border-radius: 5px !important;
          }

          img {
            width: fit-content !important;
            position: absolute !important;
            right: 10px !important;
            top: 33px !important;
            cursor: pointer !important;
          }
        }

      }

      &_ltc {
        text-decoration: underline !important;
      }

      &_timer {
        color: #0F75BD !important;
      }

      &__qr_container {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 16px 0 !important;

        img {
          width: 100px !important;
        }
      }
    }
  }
}
