//.hui{
//    &_hui{
//        color: red;
//    }
//}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "step2";
@import "step3";

.w_blg-step_container {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 5px;
    margin-top: 42px !important;
    margin-bottom: 5px !important;
  }

  ::-webkit-scrollbar-thumb {
    scroll-padding: 10px;
    background-clip: padding-box;
    border-radius: 5px;
    background-color: #0F75BD;
  }
}

* { // todo нужно сделать специфичность селекторов иначе хуета будет на чужих сайтах
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h6, h5 {
  margin: 0;
}

.w_blg {
  //&-logo{
  //  margin-bottom: 23.57px;
  //}
  &-fund {
    &__header {
      display: flex;

      img {
        width: 98px;
        height: 57px;
        border-radius: 5px;
        object-fit: contain;
      }

      h6 {
        //width: 204px;
        height: 40px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #031726;
        margin: 8px 0 0 12px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &-title, &-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #031726;
    margin-bottom: 16px;
    padding: 0 2px;
  }

  &-subtitle {
    margin: 0 0 12px 0;
    font-size: 16px;
    line-height: 19.5px;
  }

  &-step {
    &_1 {
      &__container {
        width: 100%;
        //max-width: 328px;
        max-height: 188px;
        background: #DFEBF7;
        border-radius: 5px;
        padding: 12px;
        margin-bottom: 32px;
      }

      &__fund-description {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #031726;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 8px 0px;
        text-align: start;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 100px;
      }

      &_crypto {
        &__container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 24px;
        }

        &-item {

          cursor: pointer;
          //&:hover{
          //  background-color: #73b7ff;
          //}
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 5px 12px;
          position: static;
          height: 40px;
          left: 0px;
          top: 0px;
          border: 2px solid #7BC2F4;
          box-sizing: border-box;
          border-radius: 5px;
          flex: none;
          order: 0;
          flex-grow: 1;
          max-width: 152px;
          width: 100%;
          background-color: white;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 30px;
          text-align: center;
          color: #031726;
          &:nth-child(2){
            img{
              margin-right: 3.36px;
            }
          }
          &:hover:not(&--active) {
            background-color: #e0f1ff;

          }

          &--active {
            background-color: #c0e3ff;
          }

          img {
            margin-right: 8px;

            span {
              width: 48px;
              height: 30px;
              left: 44px;
              top: 5px;

              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 30px;
              text-align: center;
            }
          }

          //margin: 0px 24px;
        }
      }
    }

    &_container {
      height: 640px;
      max-width: 360px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      padding: 12px 16px 0 16px;
      position: relative;
      //box-sizing: content-box;
    }

    &_footer {
      position: absolute;
      height: 57px;
      background: #0F75BD;
      border: 3px solid #0F75BD;
      border-radius: 5px;
      left: 0;
      bottom: 0;
      //max-width: 354px;
      width: 100%;
      //box-sizing: content-box;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 30px;
      text-align: center;
      color: #F1F5F7;
      cursor: pointer;

      &:hover {
        filter: brightness(110%);
      }

      img {
        //width: 13.31px;
        //height:17.66px;
        width: 15.31px;
        height: 20.66px;
        margin-left: 11px;
      }
    }
  }
}
